<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is Dynamic html Page</h1>
    <h1>Service Name:</h1>
    <form action="/service" method="post">
      <h1>
        <input type="text" id="service_name" name="service_name" />
      </h1>
      <button type="submit">SUBMIT</button>
    </form>
    <!-- <%= locals.text||5%> -->
  </body>
</html>
